@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.col-lg-1 {
    width: 8.33%;
}

.col-lg-2 {
    width: 16.66%;
}

.col-lg-3 {
    width: 25%;
}

.col-lg-4 {
    width: 33.33%;
}

.col-lg-5 {
    width: 41.66%;
}

.col-lg-6 {
    width: 50%;
}

.col-lg-7 {
    width: 58.33%;
}

.col-lg-8 {
    width: 66.66%;
}

.col-lg-9 {
    width: 75%;
}

.col-lg-10 {
    width: 83.33%;
}

.col-lg-11 {
    width: 91.66%;
}

.col-lg-12 {
    width: 100%;
}

.top_section__container {
    max-width: 1264px;
    background-image: url("../Image/top-section.png");
    height: 849px;
    background-size: cover;
    padding: 51px 104px 0 104px;
}

.top_section__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top_section__menu--images {
    display: flex;
    align-items: center;
}

.top_section__menu--images > * {
    margin-left: 24px;
}

.top_section__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_section__menu--links {
    display: flex;
}

.top_section__menu--links > * {
    margin-right: 24px;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
}

.select {
    border-bottom: 4px solid #F5BD41;
    padding-bottom: 12px;
}

h1 {
    width: 542px;
    height: 118px;
    font-weight: 500;
    font-size: 50px;
    color: #ffffff;
    margin-top: 202px;
}

.search_form_container {
    max-width: 1264px;
    display: flex;
    margin-top: 145px;
}
.search_form {
    width: 100%;
    background-color: white;
    display: flex;
    border-radius: 8px;

}
.form_place__input {
    background-color: #F3F3F4;
    position: relative;
    width: 30%;
    height: 62px;
    border-radius: 8px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    padding-left: 24px;
}

.form_place__label {
    position: absolute;
    top: 511px;
    width: 246px;
    height: 21px;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-left: 24px;
}

.form_date__input {
    background-color: #F3F3F4;
    position: relative;
    width: 25%;
    height: 56px;
    border-radius: 8px;
    border: 3px solid #F5BD41;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

.form_date__label {
    position: absolute;
    top: 511px;
    left: 560px;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
}

.form_room__input {
    background-color: #F3F3F4;
    position: relative;
    width: 30%;
    height: 62px;
    border-radius: 8px;
    border: none;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

.form_submit__input {
    width: 15%;
    height: 64px;
    background-color: #3077C6;
    border-radius: 8px;
    border: #3077C6;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;

}

.apps {
    display: flex;
    width: 100%;
    margin-top: 120px;
    justify-content: center;
}
.apps> * {
    margin-left: 24px;
}


.section_offer__tittle {
    text-align: center;
    margin-top: 120px;
}
hr {
    width: 100px;
    height: 4px;
    background-color: #F5BD41;
    margin-top: 20px;
    border: none;
    outline: none;
}

.section_offer__tittle {
    text-align: center;
    margin-top: 120px;
}

.section_offer__container{
    width: 296px;
    height: 176px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 108px;
}

.section_offer__text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-top: 52px;
}
.section_offer__content {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 105px;
}

.tittle_offer {
    color: #383838;
    size: 40px;
    width: 306px;
    height: 47px;
    left: 567px;
    top: 1020px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    margin: 0 auto;
}



.footer_container {
    display: flex;
    background-color: #10367c;
    height: 630px;
    color: #ffffff;
    flex-direction: column;
}

.footer_container__content {
    display: flex;
    max-width: 1264px;
    height: 305px;
    padding: 120px 0 64px 104px;
}
.footer_container__content-list {
    display: flex;
    width: 33%;
}

.list {
    list-style-type: none;
    line-height: 40px;
    font-size: 20px;
    font-style: normal;
}
.copyright {
    font-size: 14px;
    padding: 0 0 120px 105px;
}
.general_container {
    max-width: 1440px;
    margin: 0 auto;
}

.svg-sprite {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
}

.logo-triphouse {
    width: 205px;
    height: 40px;
}

.logo-night {
    width: 30px;
    height: 30px;
}
.logo-account {
    width: 40px;
    height: 40px;
}

.logo-google-play {
    width: 135px;
    height: 40px;
}

.logo-app-store {
    width: 135px;
    height: 40px;
}

.logo-support {
    width: 75px;
    height: 92px;
}

.logo-communicate {
    width: 84px;
    height: 84px;
}

.logo-book {
    width: 100px;
    height: 68px;
}

.logo-review {
    width: 92px;
    height: 84px;
}

@media (max-width: 1024px) {
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .col-sm-1 {
        width: 16.66%;
    }

    .col-sm-2 {
        width: 33.32%;
    }

    .col-sm-3 {
        width: 50%;
    }

    .col-sm-4 {
        width: 66.64%;
    }

    .col-sm-5 {
        width: 83.3%;
    }

    .col-sm-6 {
        width: 100%;
    }
    [class*=col-“] {
        width: 100%;
    }

    .tittle_offer {
        color: #383838;
       font-weight: 500;
        text-align: center;
    }

    hr {
        position: absolute;
        visibility: hidden;
        width: 0;
        height: 0;
    }

}